<connectionStrings>
  <clear />
  <add name="BaoCao" connectionString="XpoProvider=SQLite; Data Source=|DataDirectory|/BaoCao.sqlite3;Initial Catalog={0};Integrated Security=True; Mode=ReadOnly" />
  <add name="BaoCaoTaiChinh" connectionString="XpoProvider=SQLite;Data Source=|DataDirectory|/BaoCao.sqlite3;Initial Catalog={0};Integrated Security=True; Mode=ReadOnly" />
</connectionStrings>
