.toolBar {
	height: 48px;
	background-color: @Window;
	color: @WindowText;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 8px 0px 16px;
	margin-bottom:1px;
	box-shadow: 0px 1px 0px @WindowText/0.1;
}

.contactName {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: blue;
}

.buttonPanel {
	align-items: center;
}

.button {
	font-family: 'Segoe UI';
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	padding: 4px 8px;
	font-size: 12px;
	margin-right:6px;
	text-align: center;
}

.simple {
	border-color: #dddddd;
}

	.simple:hover {
		background-color: #f5f5f5;
	}

	.simple:active {
		background-color: #c2c2c2;
	}

.green {
	border-color: @green;
	background-color: @green;
	color: @white;
	opacity: 0.8;
}

	.green:hover {
		background-color: @green;
		box-shadow: 0px 0px 3px @green;
		opacity: 0.9;
	}

	.green:active {
		background-color: @green;
		box-shadow: 0px 0px 3px @green;
		opacity: 1;
	}

.blue {
	border-color: @blue;
	background-color: @blue;
	color: @white;
	opacity: 0.8;
}

	.blue:hover {
		background-color: @blue;
		box-shadow: 0px 0px 3px @blue;
		opacity: 0.9;
	}

	.blue:active {
		background-color: @blue;
		box-shadow: 0px 0px 3px @blue;
		opacity: 1;
	}

.red {
	border-color: @red;
	background-color: @red;
	color: @white;
	opacity: 0.8;
}

	.red:hover {
		background-color: @red;
		box-shadow: 0px 0px 3px @red;
		opacity: 0.9;
	}

	.red:active {
		background-color: @red;
		box-shadow: 0px 0px 3px @red;
		opacity: 1;
	}

.outline {
	border-color: #dddddd;
}

	.outline:hover {
		background-color: #f5f5f5;
	}

	.outline:active {
		background-color: #c2c2c2;
	}

.green-outline {
	border-color: @green;
	color: @green;
}

	.green-outline:hover {
		background-color: @green/0.1;
	}

	.green-outline:active {
		background-color: @green/0.4;
	}

.red-outline {
	border-color: @red;
	color: @red;
}

	.red-outline:hover {
		background-color: @red/0.1;
	}

	.red-outline:active {
		background-color: @red/0.4;
	}

.blue-outline {
	border-color: @blue;
	color: @blue;
}

	.blue-outline:hover {
		background-color: @blue/0.1;
	}

	.blue-outline:active {
		background-color: @blue/0.4;
	}

.text {
	border-style: none;
	border-width: 0;
}

	.text:hover {
		background-color: #f5f5f5;
	}

	.text:active {
		background-color: #c2c2c2;
	}

.green-text {
	color: @green;
	border-style: none;
	border-width: 0;
}

	.green-text:hover {
		background-color: @green/0.1;
	}

	.green-text:active {
		background-color: @green/0.4;
	}

.blue-text {
	color: @blue;
	border-style: none;
	border-width: 0;
}

	.blue-text:hover {
		background-color: @blue/0.1;
	}

	.blue-text:active {
		background-color: @blue/0.4;
	}

.red-text {
	color: @red;
	border-style: none;
	border-width: 0;
}

	.red-text:hover {
		background-color: @red/0.1;
	}

	.red-text:active {
		background-color: @red/0.4;
	}
